  spring:
    application:
      name: eureka_server

  server:
    port: 8761

  eureka:
    client:
      register-with-eureka: false
      fetch-registry: false

  logging:
    level:
      org.zalando.logbook: TRACE