<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- Отсутствие пустых строк в конце любого блока -->
    <module name="RegexpMultiline">
        <property name="message" value="Blank line at end of block should be removed"/>
        <property name="format" value="(?&lt;!\{\s{0,99}$)^$(?=^\s{0,99}\})"/>
    </module>

    <module name="TreeWalker">

        <!-- Отступы -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="tabWidth" value="4"/>
            <property name="lineWrappingIndentation" value="8"/>
        </module>

        <module name="EmptyLineSeparator">
            <property name="tokens" value="
            CLASS_DEF, ENUM_DEF, INTERFACE_DEF, CTOR_DEF, STATIC_INIT, INSTANCE_INIT, VARIABLE_DEF, METHOD_DEF"/>
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLines" value="false"/>
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
        </module>

        <!-- Локальные конечные переменные, включая проверку параметров в catch -->
        <module name="LocalFinalVariableName"/>
        <!-- Локальные не финальные переменные, включая проверку параметров в catch -->
        <module name="LocalVariableName"/>
        <!-- Проверка имени пакета (разрешены только строчные буквы) -->
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9_]*)*$"/>
        </module>
        <!-- Проверка только статических переменных типа (не включая статический финальный тип) -->
        <module name="StaticVariableName">
            <property name="format" value="^[a-zA-Z][a-zA-Z0-9_]*$"/>
        </module>
        <!-- Проверка нестатических переменных -->
        <module name="MemberName">
            <property name="format" value="^[a-zA-Z][a-zA-Z0-9_]*$"/>
        </module>
        <!-- Проверка типа (класса или интерфейса) имени -->
        <module name="TypeName"/>
        <!-- Проверка имени метода -->
        <module name="MethodName">
            <property name="format" value="^[a-z](_?[a-zA-Z0-9]+)*$"/>
        </module>
        <!-- Имя параметра метода -->
        <module name="ParameterName "/>
        <!-- Постоянная проверка имени -->
        <module name="ConstantName"/>
        <!-- Избыточные модификаторы -->
        <module name="RedundantModifier"/>
        <!-- Проверки бесполезных импортов -->
        <module name="UnusedImports"/>
        <!--Проверяет, что за токеном следует пробел,
        за исключением пробела после точки с запятой пустого для итератора. -->
        <module name="WhitespaceAfter"/>
        <!-- Проверка пробелов вокруг операторов -->
        <module name="WhitespaceAround"/>
        <!-- Проверка пробелов в блоках кода -->
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
    </module>
</module>