<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Micromanagement</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/css/micromanagement.css" rel="stylesheet" type="text/css"/>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<<header id="header">
    <nav class="links" style="--items: 6;">
        <a id="telegram-bot-link" target="_blank">
            <i class="fa fa-telegram"></i>
        </a>
        <a href="/overview">Обзор</a>
        <a href="/history">История</a>
        <a href="/analytics">Аналитика</a>
        <a href="/micromanagement">Микроменеджмент</a>
        <a href="/settings"><i class="fa fa-cog"></i></a>
        <span class="line"></span>
    </nav>
</header>
<div class="content">
    <table class="table" id="total-analytics-table">
        <thead>
            <tr>
                <th>
                    <p>Год:&nbsp;&nbsp;<select id="yearSelectAnnualAndMonthlyTotalStatistics"></select></p>
                    Категории/месяц
                </th>
                <th>Янв.</th>
                <th>Фев.</th>
                <th>Март</th>
                <th>Апр.</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Авг.</th>
                <th>Сен.</th>
                <th>Окт.</th>
                <th>Ноя.</th>
                <th>Дек.</th>
            </tr>
        </thead>
        <tfoot id="total-analytics-table-foot">
        </tfoot>
        <tbody id="total-analytics-table-body">
        </tbody>
    </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="/scripts/micromanagement_scripts.js"></script>
</html>