<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOEX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <link href="/css/settings.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<<header id="header">
    <nav class="links" style="--items: 4;">
        <a href="/overview">Обзор</a>
        <a href="/history">История</a>
        <a href="/analytics">Аналитика</a>
        <a href="/settings"><i class="fa fa-cog"></i></a>
        <span class="line"></span>
    </nav>
</header>
<div class="content">
    <div class="tab-pane fade show active" id="home" role="tabpanel"
         aria-labelledby="transactions-table">
        <table class="table" id="transactions-table">
            <thead class="table-dark">
            <tr>
                <th>Ticker</th>
<!--                ticker-->

                <th>Название</th>
<!--                name-->



                <th>Лотность</th>
<!--                lot-->

                <th>Текущая цена</th>
<!--                currentPrice-->

                <th>Средня цена покупки</th>
<!--                averagePositionPrice-->

                <th>Текущая стоимость</th>
<!--                currentTotalPrice-->

                <th>MOEX вес</th>
<!--                moexWeight-->

                <th>Текущий вес</th>
<!--                currentWeight-->

                <th>Выполнено %</th>
<!--                percentFollowage-->

                <th>Всего купить</th>
<!--                correctQuantity-->

                <th>Куплено</th>
<!--                quantity-->
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="/scripts/setting_scripts.js"></script>
</html>