<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <link href="/css/settings.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<<header id="header">
    <nav class="links" style="--items: 5;">
        <a id="telegram-bot-link" target="_blank">
            <i class="fa fa-telegram"></i>
        </a>
        <a href="/overview">Обзор</a>
        <a href="/history">История</a>
        <a href="/analytics">Аналитика</a>
        <a href="/settings"><i class="fa fa-cog"></i></a>
        <span class="line"></span>
    </nav>
</header>
<div class="content">
    <div class="info">
        <button id="downloadButton" class="get-backup-button">Скачать бекап данных</button>
    </div>
</div>
<div class="info">
    <h5></h5>
    <button id="bugReportButton" class="bug-report-button">Отправить багрепорт</button>
</div>

<div class="modal" id="bugReportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Отправить сообщение</h3>
                <button class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <input name="message"  type="text"
                       class="form-control form-control-sm"
                       id="messageEdit">
            </div>
            <div class="modal-footer">
                <h6></h6>
                <button id="sendReport" type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="info">
        <p style="color:red">Восстановить данные из файла</p>
        <button id="readButton">Восстановить</button>
    </div>
</div>

<div class="modal-additional-confirmation" id="modal-additional-confirmation">
    <div class="modal-additional-confirmation-content">
        <span class="close" onclick="closeModalConfirmation()">&times;</span>
        <form id="formToFile">
            <p>Вы точно уверенны? Все данные будут перезаписаны</p>
            <input type="file" id="input" onclick="saveFile()" onchange="readFile(this)">
            <input type="button" class="modal-additional-confirmation-close" onclick="closeModalConfirmation()"
                   value="Отмена">
        </form>
    </div>
</div>

<div class="modal-successful-backup" id="modal-successful-backup">
    <div class="modal-successful-backup-content">
        <span class="close" onclick="closeModalSuccessfulBackup()">&times;</span>
            <p>Данные восстановлены!</p>
            <input type="button" class="modal-additional-confirmation-close" onclick="closeModalSuccessfulBackup()"
                   value="Ок">
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="/scripts/setting_scripts.js"></script>
</html>