deployment:
  registry: overregistry.ru
  containers:
    requestsMemory: "150M"
    limitsMemory: "300M"
    image: nekromant322/overmoney-payment
    env:
      - name: SPRING_APPLICATION_PROFILE
        value: "prod"
      - name: ORCHESTRATOR_HOST
        value: "https://overmoney.tech/overmoney"
      - name: TELEGRAM_BOT_NAME
        value: "OverMoneyBot"
      - name: PAYMENT_DB_HOST
        value: "194.87.235.171"
      - name: PAYMENT_DB_PORT
        value: "5436"
      - name: JAVA_TOOL_OPTIONS
        value: "-XX:MaxRAMPercentage=70.0 -XX:MinRAMPercentage=50.0"
      - name: ENVIRONMENT
        value: "prod"
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: 'kafka-service.prod.svc'
    envFrom:
      - name: INTERNAL_KEY_HEADER
        valueFrom:
          secretKeyRef:
            name: prod
            key: internal-key-header
      - name: PAYMENT_DB_USER
        valueFrom:
          secretKeyRef:
            name: prod
            key: payment-db-user
      - name: PAYMENT_DB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: prod
            key: payment-db-password
      - name: TELEGRAM_BOT_TOKEN
        valueFrom:
          secretKeyRef:
            name: prod
            key: telegram-bot-token
      - name: ROBOKASSA_LOGIN_SHOP_ID
        valueFrom:
          secretKeyRef:
            name: prod
            key: robokassa-login-shop-id
      - name: ROBOKASSA_PASSWORD_ONE
        valueFrom:
          secretKeyRef:
            name: prod
            key: robokassa-password-one
      - name: ROBOKASSA_PASSWORD_TWO
        valueFrom:
          secretKeyRef:
            name: prod
            key: robokassa-password-two
      - name: ROBOKASSA_TEST_PASSWORD_ONE
        valueFrom:
          secretKeyRef:
            name: prod
            key: robokassa-test-password-one
      - name: ROBOKASSA_TEST_PASSWORD_TWO
        valueFrom:
          secretKeyRef:
            name: prod
            key: robokassa-test-password-two
    volumes:
      - name: secrets-store-inline
        volumeMountPath: "/mnt/secrets-store"
        readOnly: true
  priorityClassName: prod-priority-class

secretProviderClass:
  name: vault-prod