deployment:
  registry: overregistry.ru
  containers:
    image: overregistry.ru/overmoney-payment-qa
    env:
      - name: SPRING_APPLICATION_PROFILE
        value: "prod"
      - name: ORCHESTRATOR_HOST
        value: "https://testmoney.tech/overmoney"
      - name: TELEGRAM_BOT_NAME
        value: "TestOvermoneyBot"
      - name: PAYMENT_DB_HOST
        value: "194.87.237.197"
      - name: PAYMENT_DB_PORT
        value: "5436"
      - name: JAVA_TOOL_OPTIONS
        value: "-XX:MaxRAMPercentage=70.0 -XX:MinRAMPercentage=50.0"
      - name: ENVIRONMENT
        value: "qa"
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: 'kafka-service.qa.svc'
    envFrom:
      - name: INTERNAL_KEY_HEADER
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-internal-key-header
      - name: TELEGRAM_BOT_TOKEN
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-telegram-bot-token
      - name: PAYMENT_DB_USER
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-payment-db-user
      - name: PAYMENT_DB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-payment-db-password
      - name: ROBOKASSA_LOGIN_SHOP_ID
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-robokassa-login-shop-id
      - name: ROBOKASSA_PASSWORD_ONE
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-robokassa-password-one
      - name: ROBOKASSA_PASSWORD_TWO
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-robokassa-password-two
      - name: ROBOKASSA_TEST_PASSWORD_ONE
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-robokassa-test-password-one
      - name: ROBOKASSA_TEST_PASSWORD_TWO
        valueFrom:
          secretKeyRef:
            name: qa
            key: qa-robokassa-test-password-two
    volumes:
      - name: secrets-store-inline
        volumeMountPath: "/mnt/secrets-store"
        readOnly: true
  priorityClassName: qa-priority-class

secretProviderClass:
  name: vault-qa