apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: overmoney-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-http01-nginx-issuer
spec:
  ingressClassName: nginx
  rules:
    - host: overmoney.online
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sa-orchestrator-svc
                port:
                  number: 80
          - path: /front
            pathType: Prefix
            backend:
              service:
                name: frontend-svc
                port:
                  number: 80
          - path: /kafka-ui
            pathType: ImplementationSpecific
            backend:
              service:
                name: kafka-ui-svc
                port:
                  number: 80
  tls:
    - hosts:
        - overmoney.online
      secretName: overmoney.online-tls
