apiVersion: apps/v1
kind: Deployment
metadata:
  name: sa-invest
  labels:
    app: sa-invest
spec:
  selector:
    matchLabels:
      app: sa-invest
  replicas: 1
  minReadySeconds: 15
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: sa-invest
    spec:
      containers:
        - image: nekromant322/overmoney-invest:latest
          imagePullPolicy: Always
          name: sa-invest
          resources:
            requests:
              memory: "256Mi"
            limits:
              memory: "512Mi"
          env:
            - name: SPRING_APPLICATION_PROFILE
              value: "prod"
            - name: ORCHESTRATOR_HOST
              value: "https://overmoney.tech/overmoney"
            - name: INTERNAL_KEY_HEADER
              value: "{{ INTERNAL_KEY_HEADER }}"

          ports:
            - containerPort: 8081