  bot:
    name: ${TELEGRAM_BOT_NAME}
    token: ${TELEGRAM_BOT_TOKEN}
    api:
      url: https://api.telegram.org
    voice:
      max_length: 10

  web:
   url: ${WEB_URL}

  server:
    port: 8082

  spring:
    application:
      name: telegram-bot-service

    datasource:
      url: jdbc:postgresql://${TELEGRAM_BOT_DB_HOST:localhost}:${TELEGRAM_BOT_DB_PORT:5435}/telegram-bot-db
      username: ${TELEGRAM_BOT_DB_USER:postgres}
      password: ${TELEGRAM_BOT_DB_PASSWORD:postgres}
      driver-class-name: org.postgresql.Driver

    jpa:
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      generate-ddl: false
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext

    liquibase:
      enabled: true
      change-log: /db/changelog/db.changelog-master.xml

    profiles:
      active: ${SPRING_APPLICATION_PROFILE:dev}

  eureka:
    client:
      serviceUrl:
        defaultZone: http://eureka:8761/eureka

  logging:
    level:
      org.zalando.logbook: TRACE

  management:
    endpoints:
      web:
        exposure:
          include: "*"

  max-mailing-messages:
    maxMessagesOfAnnouncePerSecond: 25