  bot:
    name: ${TELEGRAM_BOT_NAME}
    token: ${TELEGRAM_BOT_TOKEN}
    api:
      url: https://api.telegram.org
    voice:
      max_length: 10

#настройка веб адреса приложения
  orchestrator:
    host: ${ORCHESTRATOR_HOST}

  integration:
    internal:
      host:
        orchestrator: http://sa-orchestrator-svc
        recognizer: http://sa-recognizer-svc

  server:
    port: 8080

  spring:
    application:
      name: telegram-bot-service

    datasource:
      url: jdbc:postgresql://${TELEGRAM_BOT_DB_HOST:localhost}:${TELEGRAM_BOT_DB_PORT:5435}/telegram-bot-db
      username: ${TELEGRAM_BOT_DB_USER:postgres}
      password: ${TELEGRAM_BOT_DB_PASSWORD:postgres}
      driver-class-name: org.postgresql.Driver

    jpa:
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      generate-ddl: false
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext

    liquibase:
      enabled: true
      change-log: /db/changelog/db.changelog-master.xml

    profiles:
      active: ${SPRING_APPLICATION_PROFILE:dev}

  eureka:
    client:
      serviceUrl:
        defaultZone: http://eureka:8761/eureka

  logging:
    level:
      org.zalando.logbook: TRACE

  management:
    endpoints:
      web:
        exposure:
          include: health,prometheus
    metrics:
      export:
        prometheus:
          enabled: true
      distribution:
        percentiles-histogram:
          "[http.server.requests]": true

  max-mailing-messages:
    maxMessagesOfAnnouncePerSecond: 25

  authorization-header:
    header-value: ${INTERNAL_KEY_HEADER:X-INTERNAL-KEY}

  mask-log-spring-boot-starter:
    maskedFields:
      - x-internal-key