<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="environment" source="environment"/>
    <springProfile name="!dev">
        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>194.87.237.197:50000</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <context/>
                    <logLevel/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                            "app": "telegram-bot",
                            "message": "%message%n%ex{full}",
                            "environment": "${environment}"
                            }
                        </pattern>
                    </pattern>
                    <threadName/>
                    <logstashMarkers/>
                </providers>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>
</configuration>