.modal-transaction-fade {
    display: none;
}

.modal-transaction-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 10;
}

.modal-transaction-content {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 11;
    opacity: 1;
}

.modal-transaction-close {
    position: absolute;
    top: 1px;
    cursor: pointer;
    right: 10px;
    color: darkslategray;
    font-size: 15px;
    font-weight: bolder;
}