html, body {
    height: 100%;
}

table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    /*height: calc(80% - 90px);*/
    height: calc(100% - 90px);

    position: fixed;
}

table thead {
    display: table-header-group;
    background-color: #2d2d2d;
    color: snow;
    /*width: 100%;*/
}

table tbody {
    display: table-row-group;
}

table tfoot {
    display: table-footer-group;
}

table tr {
    display: table-row;
    transition: all .5s;
}

table td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

table tr:hover {
    background-color: rgba(23, 21, 21, 0.25);
}