body, html {
    height: 100%;
}
.row {
    height: 100%;
}
.undefined-space {
    width: 70%;
    height: 100%;
    display: inline-block;
}
.categories-space {
    border: 1px solid #000;
    width: 29%;
    height: 100%;
    display: inline-block;
    flex-direction: column;
    flex-grow: 1;
    position: fixed;
}
.category {
    display: table;
    width: 100%;
    border: 1px solid #000;
    text-align: center;
}
.category.over {
    background: #999;
}
.undefined-circle {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    cursor: move;
    border: 3px solid #000;
    margin: 10px;
    padding: 10px;
}

.modal-category-fade {
    display: none;
}

.modal-category-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.modal-category-content {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 99999;
    opacity: 1;
}

.modal-category-content label {
    font-family: "Arial";
    display: block;
    margin: 0 auto 10px;
    width: 313px;
}

.modal-category-content h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: revert;
}

.modal-category-close {
    position: absolute;
    top: 1px;
    cursor: pointer;
    right: 10px;
    color: darkslategray;
    font-size: 15px;
    font-weight: bolder;
}

.input-modal-category {
    font-family: "Arial";
    display: block;
    margin: 0 auto 10px;
    width: 300px;
    border-color: lightgray;
    border-radius: 10px;
    padding: 10px 10px;
}