persistentVolumeClaim:
  requestsStorage: 314572800

deployment:
  containers:
    name: broker
    image: confluentinc/cp-kafka
    imageTag: 7.5.0
    env:
      - name: KAFKA_PROCESS_ROLES
        value: "broker,controller"

      - name: KAFKA_NODE_ID
        value: "1"

      - name: KAFKA_CONTROLLER_QUORUM_VOTERS
        value: "1@localhost:9093"

      - name: KAFKA_LISTENERS
        value: "PLAINTEXT://:9092,CONTROLLER://:9093"

      - name: KAFKA_ADVERTISED_LISTENERS
        value: "PLAINTEXT://kafka-service.qa.svc:9092"

      - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
        value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"

      - name: KAFKA_CONTROLLER_LISTENER_NAMES
        value: "CONTROLLER"

      - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
        value: "1"

      - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
        value: "1"

      - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
        value: "1"

      - name: KAFKA_DEFAULT_REPLICATION_FACTOR
        value: "1"

      - name: KAFKA_MIN_INSYNC_REPLICAS
        value: "1"

      - name: KAFKA_INTER_BROKER_LISTENER_NAME
        value: "PLAINTEXT"

      - name: CLUSTER_ID
        value: "r4X2g8ZpQ5yLk9TnV3cWbA"

      - name: KAFKA_HEAP_OPTS
        value: "-Xms128m -Xmx256m"

  resources:
    requests:
      memory: "326M"
    limits:
      memory: "512M"

  priorityClassName: qa-priority-class

replicaCount: 1

service:
  name: kafka-service
  headlessName: kafka-headless
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
    - name: controller
      port: 9093
      targetPort: 9093