persistentVolumeClaim:
  requestsStorage: 10Gi

servicePort: 9092
serviceTargetPort: 9092

deployment:
  strategy:
    type: Recreate # Нужно из-за привязки PVC OneToOne - нет возможности законнектить одновременно две кафки, поэтому будет даунтайм
  containers:
    name: broker
    image: bitnamilegacy/kafka
    imageTag: latest
    ports:
      - containerPort: 9092
    pullPolicy: IfNotPresent
    containerPort: 9092
    requestsMemory: "128M"
    limitsMemory: "512M"
    env:
      - name: KAFKA_PROCESS_ROLES
        value: "broker,controller"

      - name: KAFKA_NODE_ID
        value: "1"

      - name: KAFKA_CONTROLLER_QUORUM_VOTERS
        value: "1@localhost:9093"

      - name: KAFKA_LISTENERS
        value: "PLAINTEXT://:9092,CONTROLLER://:9093"

      - name: KAFKA_ADVERTISED_LISTENERS
        value: "PLAINTEXT://kafka-service.qa.svc:9092"

      - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
        value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"

      - name: KAFKA_CFG_CONTROLLER_LISTENER_NAMES
        value: "CONTROLLER"

      - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
        value: "1"

      - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
        value: "1"

      - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
        value: "1"

      - name: KAFKA_DEFAULT_REPLICATION_FACTOR
        value: "1"

      - name: KAFKA_MIN_INSYNC_REPLICAS
        value: "1"

      - name: KAFKA_INTER_BROKER_LISTENER_NAME
        value: "PLAINTEXT"

      - name: CLUSTER_ID
        value: "r4X2g8ZpQ5yLk9TnV3cWbA"

      - name: KAFKA_HEAP_OPTS
        value: "-Xms128m -Xmx256m"
    volumes:
      - name: kafka-logs
        persistentVolumeClaimName: kafka-pvc
        volumeMountPath: /var/lib/kafka/logs
  priorityClassName: prod-priority-class