persistentVolumeClaim:
  requestsStorage: 512M
  requestStorage: 1Gi

deployment:
  containers:
    env:
      - name: KAFKA_ZOOKEEPER_CONNECT
        value: "localhost:2181"
      - name: KAFKA_ZOOKEEPER_PROTOCOL
        value: ""
      - name: KAFKA_ENABLE_KRAFT
        value: "yes"
      - name: KAFKA_CFG_NODE_ID
        value: 1
      - name: KAFKA_CFG_PROCESS_ROLES
        value: "controller,broker"
      - name: KAFKA_CFG_CONTROLLER_QUORUM_VOTERS
        value: "1@localhost:9093"
      - name: KAFKA_CFG_LISTENERS
        value: "PLAINTEXT://:9092,CONTROLLER://:9093"
      - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
        value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      - name: KAFKA_CFG_CONTROLLER_LISTENER_NAMES
        value: "CONTROLLER"
      - name: KAFKA_CFG_INTER_BROKER_LISTENER_NAME
        value: "PLAINTEXT"
      - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
        value: "1"
      - name: KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR
        value: "1"
      - name: KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
        value: "1"
      - name: KAFKA_HEAP_OPTS
        value: "-Xms128m -Xmx256m"

  resources:
    requests:
      memory: "512M"
    limits:
      memory: "1Gi"

  priorityClassName: qa-priority-class

replicaCount: 1

service:
  name: kafka-service
  headlessName: kafka-headless
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
    - name: controller
      port: 9093
      targetPort: 9093