@import url(./components/Header/Header.scss);
/* @import url(./components/ItemCard/ItemCard.scss); */

:root {
  --bs-dark-rgb: #0D1117;
  --bs-emphasis-color: #e6edf3;
  --bs-body-bg: #0D1117;
  --bs-body-color: #e6edf3;
  --bs-card-border-color: #e6edf3;
  --bs-border-width: 3px;
  --bs-border-color-translucent: #e6edf3;
}

body {
  background-color: #0D1117;
  color: #e6edf3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
