html {
  scroll-behavior: smooth;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html, body {
  min-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: #0D1117;
}

#app {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}