.feature-card {
  display: flex;
  flex-direction: column;
  max-width: 212px;
}

.feature-card__title {
  grid-area: title;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.feature-card__description {
  grid-area: description;
  color: #8B949E;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0;
}

.feature-card__link {
  grid-area: link;
  display: block;
  color: #58A6FF;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-top: auto;
  text-decoration: none;
  transition: filter 250ms ease-in-out;
}


@media (hover: hover) {
  .feature-card__link:hover {
    filter:brightness(1.2);
  }
}