.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 32px 48px 32px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 16px 48px 16px;
  }
}

.footer__copyright {
  color: #8B949E;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 8px;
}