name: Generate and commit badges

on:
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B verify

      - name: Generate Coverage Badges for Orchestrator
        id: jacocoOrchestrator
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: orchestrator_service/target/jacoco-report/jacoco.csv
          coverage-badge-filename: jacoco_orchestrator.svg
          coverage-label: coverage (Orchestrator)

      - name: Generate Coverage Badges for Recognizer
        id: jacocoRecognizer
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: recognizer_service/target/jacoco-report/jacoco.csv
          coverage-badge-filename: jacoco_recognizer.svg
          coverage-label: coverage (Recognizer)

      - name: Generate Coverage Badges for Telegram Bot
        id: jacocoTelegramBot
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: telegram_bot_service/target/jacoco-report/jacoco.csv
          coverage-badge-filename: jacoco_telegram_bot.svg
          coverage-label: coverage (Telegram Bot)

      - name: Commit the badge (if it changed)
        run: |
           git config --global user.name github-actions
           git config --global user.email github-actions@github.com
           git add -A
           git commit -m "JaCoCo coverage badges"
           git stash
           git checkout badges-branch
           git stash pop